/*
Code For Boulder
Github:
This document uses BEM naming conventions, learn more at: https://en.bem.info/
*/

/* PRIMARY STYLES
==============================================================================
* Body
* PageWrap
* SiteContent
* h2-h6 tags
* mobile-hide
* clear
=========================================================================== */
body {
  background: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #888888;
  margin: 0;
  min-height: 3000px;
}

body.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.PageWrap {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.SiteContent {
  position: relative;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

h2 {
  font-size: 34px;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  font-size: 16px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  color: #888888;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 0 60px 0;
}

.mobile-hide { /* Hides on anything smaller than 768px */
  display: none;
}





/* MOBILE NAVIGATION SLIDEOUT
==============================================================================
=========================================================================== */
.MobileNav {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate3d(110vw, 0, 0);
          transform: translate3d(110vw, 0, 0);
  width: 100vw;
  padding: 60px 30px;
  background: #333;
  z-index: 8;
  height: 100vh;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  box-sizing: border-box;
  border-left: 5px solid #111;
}

.MobileNav__logo {
  width: 30vw;
  max-width: 150px;
  position: absolute;
  bottom: 30px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.MobileNav ul {
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0;
  text-align: right;
}

.MobileNav ul:after {
  content: '';
  position: absolute;
  right: 30px;
  display: inline;
  height: 28px;
  width: 100px;
  border-bottom: 4px solid #222;
  margin-top: 13px;
}

.MobileNav ul li {
  margin: 0 0 15px 0;
}

.MobileNav ul li a {
  font-size: 34px;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}

.MobileNav ul li a:hover {
  color: #64D159;
}

#sidebarToggle { /* Hide the Checkbox */
  display: none;
}

#sidebarToggle:checked + .PageWrap .MobileNav {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#sidebarToggle:checked + .PageWrap .SiteContent {
  opacity: .2;
  filter: alpha(opacity=20);
}

#sidebarToggle:checked + .PageWrap .MobileNavToggle {
  color: red;
  top: 30px;
  right: 30px;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}





/* TOP BAR
==============================================================================
* Fixed Desktop Navigation
* Website Logo
* Mobile nav toggle / hamburger / 'X' icon
=========================================================================== */
.TopBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: rgba(250, 250, 250, 1);
  box-shadow: 1px -1px 4px 1px rgba(0,0,0,0.75);
  z-index: 7;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  border-top: 5px solid #333;
}

.TopBar--hide {
  top: -100px !important;
}

.TopBar__logo {
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.TopBar__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 300px;
  line-height: 100px;
}

.nav--left {
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  text-align: right;
  margin-left: -260px;
}

.nav--right {
  right: 50%;
  -webkit-transform: translate3d(50%, -50%, 0);
          transform: translate3d(50%, -50%, 0);
  text-align: left;
  margin-right: -260px;
}

.TopBar__nav li {
  display: inline-block;
}

.TopBar__nav li a {
  height: 100%;
  display: block;
  box-sizing: border-box;
  margin: 0 22px;
  padding: 0;
  color: #222222;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.TopBar__nav li a:hover{
  color: #7cc576;
}

.MobileNavToggle {
  position: fixed;
  top: 17px;
  right: 12px;
  margin: 0;
  padding: 0;
  font-size: 2.6em;
  line-height: 0;
  color: #777;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.MobileNavToggle:hover {
  color: #222;
}

#hamburger {
  width: 35px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  background: #444;
  border-radius: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger:hover span {
  background: #CE4949;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2),#hamburger span:nth-child(3) {
  top: 11px;
}

#hamburger span:nth-child(4) {
  top: 22px;
}

#hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger.open span {
  background: #CE4949;
}

#hamburger.open {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

#hamburger.open:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}





/* SPLASH LANDING / HERO
==============================================================================
* Full-screen Splash
* h1, slogan, CTA button, social icons
=========================================================================== */
.SplashHero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../img/splash-bg.png) left top repeat;
  display: block;
}

.SplashContent {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  text-align: center;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.SplashContent h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 7vh;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1em;
    margin: 0;
    color: #fff;
}

.SplashContent__sloganMessage {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  color: #bcbcbc;
  text-transform: uppercase;
  font-weight: 400;
  margin: 1vh auto 0 auto;
  padding: 0 0 0 15px;
}

.SplashContent__ctaButton {
  padding: 15px 35px;
  background: #7cc576;
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 25px;
  margin: 11vh 0 11vh 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.SplashContent__ctaButton:hover {
    text-decoration: none;
    color: #7cc576 !important;
    background: #fff;
}

.SplashContent__ctaButton:active, .SplashContent__ctaButton:focus {
    background: #7cc576;
    text-decoration: none;
    color: #fff !important;
}

.SplashContent__socialIcons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.SplashContent__socialIcons li {
  display: inline;
  margin: 0 10px;
}

.SplashContent__socialIcons li a {
  color: #fff;
  font-size: 2em;
  padding: 5px 20px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.SplashContent__socialIcons li a:hover {
  background: #fff;
  color: #000;
}





/* MainContent
==============================================================================
* Contains most of site content
* Everything after the splash
* Necessary container to reset background color to white
=========================================================================== */
.MainContent {
  width: 100%;
  background: white;
  min-height: 1000px;
  position: relative;
  padding: 40px 0;
}





/* MeetupInfo
==============================================================================
* Meetup Info Box
=========================================================================== */
.MeetupInfo {
  width: 90%;
  padding: 40px 20px 0 20px;
  background: #eee;
  box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  box-shadow: 0 5px #bbb;
  border-radius: 3px;
  color: #555;
}

.MeetupInfo__meetupCol {
  width: 90%;
  text-align: center;
  margin: 0 20px 60px 20px;
}

.MeetupInfo__meetupCol h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #555;
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
  position: relative;
}

.MeetupInfo__meetupCol h4:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  display: inline;
  height: 20px;
  width: 30px;
  border-bottom: 2px solid #333;
  margin-top: 13px;
}

.MeetupInfo__meetupCol p {
  margin: 25px auto;
  min-height: 40px;
}

.MeetupInfo__btn {
  padding: 12px 0;
  line-height: 1em;
  border: 3px solid #555;
  clear: both;
  display: block;
  width: 80%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  color: #777;
}

.MeetupInfo__btn:hover {
  color: #eee;
}

.MeetupInfo__btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  background: #555;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.MeetupInfo__btn:hover:after {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.MeetupInfo__btn i {
  font-size: 1.3em;
  margin: 0 10px 0 0;
}
















/* Animation Timers
---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-15s {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}
