<footer class="site-footer">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

  <!-- Other JS Scripts -->
  <script type="text/javascript" src="js/libs/jquery.isotope.js"></script><!--layout the grid of project thumbnails-->
  <script type="text/javascript" src="js\libs\jquery.scrollTo.min.js"></script>
  <script type="text/javascript" src="js\libs\jquery.localScroll.min.js"></script><!--scrollTo and localScroll animate local links-->
  <script type="text/javascript" src="js/libs/wow.js"></script>

  <!--page-app is not a plugin.  author-defined.-->
  <script type="text/javascript" src="js/page-app.js"></script>

</footer>
